body {
    background-color: lightcyan;
}

.PokeCard {
    border: 2px solid;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.Pokedex-card {
    display: flex;
    justify-content: space-around;
}

.info {
    text-align: center;
}

.winner {
    color: green
}

.loser {
    color: red;
}

img {
    width: 10rem;
}